body {
  margin: 0;
  padding: 0;
  font-family: "Aaux ProLight";
}

.nav-wrapper {
  padding: 0 2%;
  margin-bottom: 2%;
  height: 200px;
}

.welcome-pic{
  margin-top: 5%;
  max-width: 100%;
}

.brand-logo{
  font-family: "Apple Chancery";
}

.login-btn{
  font-family: "Aaux ProLight";
  margin: 6% 40%;
  width: 200px;
  height: 50px;
  font-size: 30px;
  background-color: white;
  border: 1px solid #9575cd;
  border-radius: 5px;
}

.login-btn:hover{
  background-color: #9575cd;
}

.login{
  color: #9575cd;
}

.login:hover{
  color: white;
}

.container{
  color: red;
  padding-bottom: 1%;
}

.survey-input{
  margin-bottom: 5px;
}

.survey-info{
  margin-bottom: 20px;
}

.survey-template{
  text-align: center;
}

h3,h5{
  text-align: center;
  color: #9575cd;
}

/*h5{
  color: #616161;
}*/

.form-label{
  font-size: 20px;
}

.form-value{
  font: 18px bold;
  color: #9575cd;
  margin-bottom: 1%;
}

.form{
  border: 1px solid #dddddd;
  padding: 2%;
  margin: 5% auto;
  width: 90%;
}

.btn{
  margin-right: 20px;
}

.btn-flat{
  margin-top: 3%;
}

.page-footer{
  position: fixed;
  width: 70%;
  bottom: 2%;
}
